.carousel-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  position: relative;
  transition: background-image 1s ease-in-out;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  width:50px;
  border: none;
  padding: 10px 15px; /* Adjusted padding for a smaller button size */
  cursor: pointer;
  z-index: 10; /* Ensure buttons are above other elements */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.prev {
  left: 10px; /* Position the previous button on the left */
}

.next {
  right: 10px; /* Position the next button on the right */
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-dots {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 10; /* Ensure dots are above other elements */
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.dot.active {
  background-color: rgba(255, 255, 255, 1);
}
