.ChatBot{
    width: 400px;
    margin:100px 850px;
    background-color: white;
    border-radius: 10px;
}
.Raahi{
    padding: 5px;
    color:white;
    background-color: #3e3e3c;
    border-radius: 10px;
}
.Type_Here{
    display: flex;
    justify-content: space-between;
    padding:10px;
    background-color:#24282b ;
    background-repeat: no-repeat;
    background-size: 400px;
    color:white;
    border-radius: 10px;
}
.Input{
    width:250px;
    height:50px;
    border-radius: 10px;
}
.Initial_Prompt{
    background-color: #E2E2B6;
    width:300px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 10px;
}