.Packages_h2{
    font-size: 2rem;
}
.Packages_h1{
    font-size: 3rem;
}
.Packages_p{
    font-size: 1.5rem;
}
.Package_div1{
    display: flex;
    gap:60px;
    background-color:#f5f5dc;
    width: 1326px;
    margin-left: 300px;
}
.Place_Description{
    font-weight: lighter;
    font-size: 1.2rem;
}
.Package_divs_img1{
    width:400px;
    height:300px;
}
.Package_divs_img2{
    width:400px;
    height:350px;
}
.Package_divs_img3{
    width:400px;
    height:350px;
}
.starrating{
    width:100px;
}
.div_part_2{
    width:500px;
}
.div_part_3{
    background-color:#f9a755;
}
.div_part_3_line1{
    display: flex;
    gap:50px;
}
.book_now{
    width:150px;
    background-color: rgb(74, 67, 53);
}
.book_now:hover{
    background-color: rgb(40, 37, 31);
}
/* .book_now_div{

} */