.Gurus_h2{
    font-size: 2rem;
}
.Gurus_h1{
    font-size: 3rem;
}
.Gurus_p{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    width:800px;
    margin-left:550px;
}
.Gurus_div1{
    display: flex;
    gap:60px;
    background-color: #f5f5dc;
    width: 1326px;
    margin-left: 300px;
}
.Gurus_divs_img{
    width:400px
}
.Gurus_starrating{
    width:100px;
}
.Gurus_div_part_2{
    width:500px;
}
.Gurus_div_part_3{
    background-color: #f9a755;
}
.Gurus_div_part_3_line1{
    display: flex;
    gap:50px;
}
.Gurus_book_now{
    width:150px;
    background-color: rgb(74, 67, 53);
}
.Gurus_book_now:hover{
    background-color: rgb(40, 37, 31);
}
.Gurus_Heading{
    font-size: 2.5rem;
}
.Gurus_Subhead{
    font-size: 2rem;
}
.Gurus_Description{
    font-size:1.5rem;
}